# ---------------------------------------------
#Facebook Group Automation
# ---------------------------------------------

# (REQUIRED) Path to the saved session file
FACEBOOK_SESSION_PATH=Paste here your session(json)

# (OPTIONAL) Facebook profile to switch to
TARGET_PROFILE_NAME=Name of the profile(facebook account)

# (OPTIONAL) Default tag/mention used in group messages
GROUP_POST_MESSAGE="put your message or deafult mention"

# ---------------------------------------------
# Posting Tasks (sensitive data)
# ---------------------------------------------
# Source post URL to share
SOURCE_URL="put here your url post"

# Comma‑separated list of group names to share the post to
GROUP_LIST="put here all the list group names you want to put"